<!DOCTYPE html>
<html>
<head>
    <title>Rajendra Singh | QR Code File Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>QR Code File Generator</h1>
        <p>Upload only PNG, JPG, JPEG, PDF allowed</p>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>

        <div class="nav-links">
            <a class="link-button" href="/uploads">View all uploaded files</a>
        </div>
    </div>
</body>
</html>